/* regole principali */

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.container-flex {
    display: flex;
    align-items: center;
    gap: 5px;
}

.container-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar ul {
    display: flex;
    list-style-type: none;
}

.bar ul li {
    padding: 15px 10px;
}

.icon-bar{
    padding: 0 10px;
    color: grey;
}

.box-text small {
    color: rgb(156, 156, 156);
    font-size: 12px;
}

/* regole per il contenitore principale e i relativi blocchi */

#wrap-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#top-block {
    background-color: #009688;
    height: 100px;
    width: 100%;
}

#bottom-block {
    background-color: #DCDBD2;
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* regole per il blocco centrale relativo all'applicazione */

#bool-application {
    width: 80%;
    height: calc(100vh - 50px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

/* regole generali per le barre in alto */
.bar {
    height: 50px;
    width: 100%;
    background-color: #EAEAEA;
}

/* PARTE LATERALE */
/* barra laterale */
#sidebar {
    height: 100%;
    width: 400px;
    background-color: #FFFFFF;
    border: 1px solid gainsboro;
}

/* barra in alto della barra laterale */
.image-box {
    height: 45px;
    width: 45px;
    padding: 5px;
}

.image-box img {
    max-width: 100%;
    border-radius: 100%;
}

/* box ricevi notifiche */
#notification {
    height: 60px;
    background-color: #8EDAFC;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: white;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-bell-slash {
    font-size: 20px;
    padding: 5px;
    color: #8EDAFC;
}

/* barra di ricerca per il filtro nella barra laterale */

#search-bar {
    background-color: #EAEAEA;
    padding: 5px;
    display: flex;
    align-items: center;
}

#search-bar input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
}

#btn-search{
    width: 20%;
    padding: 5px;
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* box contatti */
#list-contacts {
    height: calc(100% - 160px);
    overflow-y: auto;
    flex-shrink: 0;
}

.contact li{
    display: flex;
    align-items:center;
    border-bottom: 1px solid gainsboro;
}

.box-contact{
    height: 60px;
    width: 60px;
}

.box-contact img{
    max-width: 100%;
    border-radius: 100%;
    padding: 8px;
}

/* proprietà che seleziona il contatto attivo, importante per Vue */
.active{
    display: flex;
    background-color:#dcdcdc;
}

/* PARTE CENTRALE */
/* proprietà che seleziona l'elemento */
.selected{
    display: inline-block;
}

/* corpo dell'applicazione */
#body-app {
    height: 100%;
    width: calc(100% - 400px);
    background-image: url('../img/background_chat.png');
    background-size:contain;
    flex-shrink: 0;
}

/* messaggi ricevuti e inviati */
#box-message > div{
    font-size: 12px;
}

.message{
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

#received{
    margin-top: 40px;
    margin-right: 100px;
    margin-left: calc(100% - 300px)
}

.message-green{
    background-color: #D5F9BA;
}

#sent{
    margin-left: 100px;
    margin-right: calc(100% - 300px)
}

.message-white{
    background-color:white;
}

.text-message{
    text-align: right;
    font-size: 10px;
    color: gray;
}

/* barra in basso */
#message-bar {
    flex: 1;
    padding: 0 10px;
}

#message-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}

.fa-face-smile,
.fa-microphone{
    padding: 0 30px;
    font-size: 20px;
    color: grey;
}

/* box dei messaggi */
#box-message {
    height: calc(100% - 100px);
    width: 100%;
    overflow-y: auto;
}